body{

}
.jumbotron{
  background-image: url('../images/home_1.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}
.jumbotron1{
  background-image: url('../images/abt_1.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}
.jumbotron2{
  background-image: url('../images/blg_img.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  padding: 5px;
}
.jumbotron3{
    background-image: url('../images/ct_img.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    padding: 5px;
}
 .nav-text{
    color: white;
}
#nav1 {
    margin-bottom: 20px;
}
#text-dark{
    color: black;
}
.text-white_row{
    color: white;
}
#background-dark {
    background-color: black;
}

/*black#footer {*/
    /*position: absolute;*/
    /*padding: 50px;*/
    /*bottom: 0;*/
    /*width: 100%;*/
    /*height: 60px;*/
    /*background: black;*/
/*}*/